@media (min-width: 768px) {
  .disclaimer {
    text-align: right;
  }
}

/* Fix for pickadate */
.form-control[readonly] {
  background-color: white !important;
  cursor: default !important;
}

.quarterHeading {
  color: #333333;
  background-color: #f5f5f5;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-color: rgb(221, 221, 221);
}

.quarterHeading .fa-caret-square-o-down {
  color: #333333;
  font-size: 20px;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
  height: 50px;
}