@media (min-width: 768px) {
  .disclaimer {
    text-align: right;
  }
}

/* Fix for pickadate */
.form-control[readonly] {
  background-color: white !important;
  cursor: default !important;
}

.quarterHeading {
  color: #333333;
  background-color: #f5f5f5;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-color: rgb(221, 221, 221);
}

.quarterHeading .fa-caret-square-o-down {
  color: #333333;
  font-size: 20px;
}